header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 120px;
    width: auto;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-left: 50px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff6347;
}

footer{
    background-color: rgb(216, 217, 247);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0%;
}

.flex{
    display: flex;
    
    flex-direction: column;
    align-items: center;
   
    margin-right: 200;
}
.box{
    text-align: center;
    margin: 20;
    border: #333;
    border-style: solid;
    border-radius: 8px ;
    background-color: gray;
}
.box_valor{
    background-color: gray;
    margin: 0;
}
.valor{
    font-size: 200%;
}
.img{
    width: 350;
    height: 350;
}
.box_img{
    
    margin: 0;
    background-color: #f4f4f4;
}

.countainer-imagens img{
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.carrosel{
    width: 20%;
    max-width: 100%; 
    text-align: center;
}
.container-imagens{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}
.linha{
    width: 400px;
}